In [0]:
# Enter Student names here:
student_names = ['Aiden West', 'Jacob Koehler', 'Riba Hossain', 'Quinn Kowitt', 'Chen', 'Jackson', 'Alina', 'Kristina', 'Kha', 'Gabi']

---

### 1) What are the types of the following variables?

In [0]:
a = 1
b = 2.6
c = [1,2,3,5,6]
d = {'steven':'segal', 'master':'pai'}
e = ('one', 'two', 'three')
f = {1:{'key':'value'}, 2:{'key2':'value2'}}
g = True
h = False
i = 'integer'

In [5]:
print("a",type(a))
print("b",type(b))
print("c",type(c))
print("d",type(d))
print("e",type(e))
print("f",type(f))
print("g",type(g))
print("h",type(h))
print("i",type(i))

a <class 'int'>
b <class 'float'>
c <class 'list'>
d <class 'dict'>
e <class 'tuple'>
f <class 'dict'>
g <class 'bool'>
h <class 'bool'>
i <class 'str'>

---

1.   List item
2.   List item



### 2) What is the difference between a "mutable" and an "immutable" object?

In [0]:
# A:
# an immutale object cannot be changed or modified after it is created, while a mutable object can be.

---

### 3) Print the `student_names` list.

In [6]:
# A:
print(student_names)

['Aiden West', 'Jacob Koehler', 'Riba Hossain', 'Quinn Kowitt', 'Chen', 'Jackson', 'Alina', 'Kristina', 'Kha', 'Gabi']

---

### 4) Print the names of the first and last students on the list.

In [7]:
# A:
student_names[0], student_names[9]

('Aiden West', 'Gabi')

---

### 5) Print the first five names in the `student_names` list.

In [8]:
# A:
student_names[0:4]

['Aiden West', 'Jacob Koehler', 'Riba Hossain', 'Quinn Kowitt']

---

### 6) Combine the ninth and 10th student names into a single string, separated by a space. Assign that string to a variable.

In [9]:
# A:
new_variable = student_names[-2]+" "+student_names[-1]
print(new_variable)

Kha Gabi

---

### 7) Append an animal to the list of animals.

In [0]:
animals = ['duck', 'rat', 'boar', 'slug', 'mammoth', 'gazelle']

In [0]:
# A:
animals.append('mouse')

---

### 8) Print the length of the `animals` list.

In [12]:
# A:
print (len(animals))

7

---

### 9) Divide the length of the fifth animal by the second.

In [13]:
# A:
variable = len(animals[4])/len(animals[1])
print(variable)

2.3333333333333335

---

### 10) Perform the same division, but ensure the output is a decimal number.

In [16]:
# A:
print(float(variable))

2.3333333333333335

---

### 11) Demonstrate two different ways to combine the `animals` list and the `numbers` list.

In [0]:
numbers = [0., 0.1, 1., 10., 100., 1000.]

In [18]:
# A:
joinedlist1 = numbers + animals
print(joinedlist1)
joinedlist2 = [*numbers, *animals]
print(joinedlist2)

[0.0, 0.1, 1.0, 10.0, 100.0, 1000.0, 'duck', 'rat', 'boar', 'slug', 'mammoth', 'gazelle', 'mouse']
[0.0, 0.1, 1.0, 10.0, 100.0, 1000.0, 'duck', 'rat', 'boar', 'slug', 'mammoth', 'gazelle', 'mouse']

---

### 12) Remove `'kiefer'` from the list and insert your own name in its place.

In [0]:
names = ['doug', 'billy', 'kiefer', 'kian', 'sam']

In [20]:
# A:
names[names.index('kiefer')] = 'quinn'
print(names)

['doug', 'billy', 'quinn', 'kian', 'sam']

---

### 13) Manually check whether or not one element of `mix` is greater than another.

In [23]:
# A:
mix = [1, 4, 12.4, True, 'a', '34']

check = mix[0] > mix[2]
check

False

---

### 14) Find the index of `'a'` in the list.

In [24]:
# A:
mix.index('a')

4

---

### 15) Reverse the `mix` list.

In [25]:
# A:
mix.reverse()
print(mix)

['34', 'a', True, 12.4, 4, 1]

---

### 16) Remove the last element of `mix`  and assign it to a variable.

In [26]:
# A:
new_var = mix[-1]
print(new_var)

mix.remove(1)
print(mix)

1
['34', 'a', 12.4, 4, 1]

---

### 17) Count the number of times `0` appears in the following list.

In [0]:
binary = [0,1,1,0,1,0,1,1,1,1,0,0,1,0,0,1,0,1,1,0,0,1,1,0,1,1,0,0,0,1,1,1,0,1,0,1]

In [29]:
# A:
zeros = binary.count(0)
print(zeros)

16

[link text](https://)---

### 18) Create an SF (San Francisco) zip code dictionary.

With the following key-value pairs:

    'sunset':94122
    'presidio':94129
    'soma':94105
    'marina':94123

In [46]:
# A:
SF = {'sunset':94122
,'presidio':94129
,'soma':94105
,'marina':94123}
print(SF)

{'sunset': 94122, 'presidio': 94129, 'soma': 94105, 'marina': 94123}

---

### 19) Get the zip code for `'soma'` and assign it to a variable.

In [49]:
# A:
soma_val = (SF['soma'])
soma_val

94105

---

### 20) Get the keys out of the dictionary.

In [33]:
# A:
list(SF)

['sunset', 'presidio', 'soma', 'marina']

---

### 21) Get the key-value pairs out of the dictionary as a list of tuples.

In [50]:
# A:
SF.values()

dict_values([94122, 94129, 94105, 94123])

In [64]:
zip_tup = [(k, v) for k, v in SF.items()] 
print(zip_tup)

[('presidio', 94129), ('soma', 94105), ('marina', 94123), ('castro', 94114), ('outer_richmond', 94121), ('dogpatch', 94107)]

---

### 22) Add The Castro to the dictionary with the zip code 94114.

In [52]:
# A:
SF['castro'] = 94114  
print(SF)

{'sunset': 94122, 'presidio': 94129, 'soma': 94105, 'marina': 94123, 'castro': 94114}

---

### 23) Combine the following smaller dictionary of districts with the SF zip code dictionary.

In [0]:
small = {'outer_richmond':94121, 'dogpatch':94107}

In [54]:
# A:
SF.update(small)
print(SF)

{'sunset': 94122, 'presidio': 94129, 'soma': 94105, 'marina': 94123, 'castro': 94114, 'outer_richmond': 94121, 'dogpatch': 94107}

---

### 24) Remove the `'sunset'` zip code and assign it to a variable.

In [55]:
# A:
sun_var = SF['sunset']
print(sun_var)

del SF['sunset']
print(SF)

94122
{'presidio': 94129, 'soma': 94105, 'marina': 94123, 'castro': 94114, 'outer_richmond': 94121, 'dogpatch': 94107}

---

### 25) Check if the `'dogpatch'` is in the dictionary.

In [58]:
# A:
if "dogpatch" in SF:
  print("yep")
else:
  print("nope")

yep