<a href="https://colab.research.google.com/github/Quinnqk/PythonClass/blob/master/PandaNotes.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
data = {"height": [10,20,40],
        "weight": [42,58,60]
}

In [2]:
data['height']

[10, 20, 40]

In [0]:
import pandas as pd

In [0]:
df = pd.DataFrame(data)

In [6]:
df

   height  weight
0      10      42
1      20      58
2      40      60

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 2 columns):
height    3 non-null int64
weight    3 non-null int64
dtypes: int64(2)
memory usage: 176.0 bytes

In [0]:
nyc_311 = pd.read_json('https://data.cityofnewyork.us/resource/erm2-nwe9.json')

In [12]:
nyc_311.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 39 columns):
unique_key                        1000 non-null int64
created_date                      1000 non-null object
agency                            1000 non-null object
agency_name                       1000 non-null object
complaint_type                    1000 non-null object
descriptor                        1000 non-null object
location_type                     858 non-null object
incident_zip                      994 non-null float64
incident_address                  992 non-null object
street_name                       992 non-null object
cross_street_1                    922 non-null object
cross_street_2                    921 non-null object
intersection_street_1             919 non-null object
intersection_street_2             918 non-null object
city                              960 non-null object
landmark                          879 non-null object
status                            1000 non-null object
community_board                   1000 non-null object
bbl                               941 non-null float64
borough                           1000 non-null object
x_coordinate_state_plane          989 non-null float64
y_coordinate_state_plane          989 non-null float64
open_data_channel_type            1000 non-null object
park_facility_name                1000 non-null object
park_borough                      1000 non-null object
latitude                          989 non-null float64
longitude                         989 non-null float64
location                          989 non-null object
:@computed_region_efsh_h5xi       988 non-null float64
:@computed_region_f5dn_yrer       989 non-null float64
:@computed_region_yeji_bk3q       989 non-null float64
:@computed_region_92fq_4b7q       989 non-null float64
:@computed_region_sbqj_enih       989 non-null float64
taxi_pick_up_location             9 non-null object
resolution_description            337 non-null object
resolution_action_updated_date    340 non-null object
closed_date                       240 non-null object
address_type                      85 non-null object
facility_type                     9 non-null object
dtypes: float64(11), int64(1), object(27)
memory usage: 304.8+ KB

In [13]:
nyc_311.head()

   unique_key             created_date  ... address_type facility_type
0    45522748  2020-02-02T01:59:01.000  ...          NaN           NaN
1    45525058  2020-02-02T01:57:36.000  ...          NaN           NaN
2    45525053  2020-02-02T01:57:26.000  ...          NaN           NaN
3    45525030  2020-02-02T01:56:50.000  ...          NaN           NaN
4    45524271  2020-02-02T01:56:24.000  ...          NaN           NaN

[5 rows x 39 columns]

In [14]:
nyc_311.tail()

     unique_key             created_date  ... address_type facility_type
995    45522339  2020-02-01T21:50:10.000  ...          NaN           NaN
996    45522856  2020-02-01T21:50:07.000  ...          NaN           NaN
997    45526042  2020-02-01T21:50:05.000  ...          NaN           NaN
998    45526341  2020-02-01T21:49:34.000  ...      ADDRESS           NaN
999    45522652  2020-02-01T21:49:31.000  ...      ADDRESS           NaN

[5 rows x 39 columns]

In [16]:
nyc_311.columns

Index(['unique_key', 'created_date', 'agency', 'agency_name', 'complaint_type',
       'descriptor', 'location_type', 'incident_zip', 'incident_address',
       'street_name', 'cross_street_1', 'cross_street_2',
       'intersection_street_1', 'intersection_street_2', 'city', 'landmark',
       'status', 'community_board', 'bbl', 'borough',
       'x_coordinate_state_plane', 'y_coordinate_state_plane',
       'open_data_channel_type', 'park_facility_name', 'park_borough',
       'latitude', 'longitude', 'location', ':@computed_region_efsh_h5xi',
       ':@computed_region_f5dn_yrer', ':@computed_region_yeji_bk3q',
       ':@computed_region_92fq_4b7q', ':@computed_region_sbqj_enih',
       'taxi_pick_up_location', 'resolution_description',
       'resolution_action_updated_date', 'closed_date', 'address_type',
       'facility_type'],
      dtype='object')

In [17]:
nyc_311["borough"]

0         QUEENS
1      MANHATTAN
2          BRONX
3       BROOKLYN
4       BROOKLYN
         ...
995    MANHATTAN
996        BRONX
997        BRONX
998        BRONX
999    MANHATTAN
Name: borough, Length: 1000, dtype: object

In [22]:
nyc_311[["borough","complaint_type"]]

       borough       complaint_type
0       QUEENS  Noise - Residential
1    MANHATTAN   Noise - Commercial
2        BRONX      Illegal Parking
3     BROOKLYN  Noise - Residential
4     BROOKLYN  Noise - Residential
..         ...                  ...
995  MANHATTAN  Noise - Residential
996      BRONX  Noise - Residential
997      BRONX   Noise - Commercial
998      BRONX       HEAT/HOT WATER
999  MANHATTAN       HEAT/HOT WATER

[1000 rows x 2 columns]

In [23]:
nyc_311.describe()

         unique_key  ...  :@computed_region_sbqj_enih
count  1.000000e+03  ...                   989.000000
mean   4.552397e+07  ...                    41.462083
std    1.747759e+03  ...                    21.583325
min    4.552122e+07  ...                     1.000000
25%    4.552237e+07  ...                    25.000000
50%    4.552392e+07  ...                    42.000000
75%    4.552560e+07  ...                    62.000000
max    4.552713e+07  ...                    77.000000

[8 rows x 12 columns]

In [25]:
nyc_311['borough'].describe()

count         1000
unique           6
top       BROOKLYN
freq           281
Name: borough, dtype: object

In [27]:
nyc_311.iloc[2]

unique_key                                                                 45525053
created_date                                                2020-02-02T01:57:26.000
agency                                                                         NYPD
agency_name                                         New York City Police Department
complaint_type                                                      Illegal Parking
descriptor                                                         Blocked Sidewalk
location_type                                                       Street/Sidewalk
incident_zip                                                                  10473
incident_address                                                567 OLMSTEAD AVENUE
street_name                                                         OLMSTEAD AVENUE
cross_street_1                                                         CAESAR PLACE
cross_street_2                                                       RANDALL AVENUE
intersection_street_1                                                  CAESAR PLACE
intersection_street_2                                                RANDALL AVENUE
city                                                                          BRONX
landmark                                                            OLMSTEAD AVENUE
status                                                                  In Progress
community_board                                                            09 BRONX
bbl                                                                     2.03533e+09
borough                                                                       BRONX
x_coordinate_state_plane                                                1.02550e+06
y_coordinate_state_plane                                                     237327
open_data_channel_type                                                       MOBILE
park_facility_name                                                      Unspecified
park_borough                                                                  BRONX
latitude                                                                     40.818
longitude                                                                   -73.851
location                          {'latitude': '40.817987134187355', 'longitude'...
:@computed_region_efsh_h5xi                                                   11611
:@computed_region_f5dn_yrer                                                      58
:@computed_region_yeji_bk3q                                                       5
:@computed_region_92fq_4b7q                                                      31
:@computed_region_sbqj_enih                                                      26
taxi_pick_up_location                                                           NaN
resolution_description                                                          NaN
resolution_action_updated_date                                                  NaN
closed_date                                                                     NaN
address_type                                                                    NaN
facility_type                                                                   NaN
Name: 2, dtype: object